<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<bean id="addMaterialsRepository" class="repositories.AddMaterialsRepository">
</bean>

    <bean id="addMaterialsService" class="services.AddMaterialsService">
        <constructor-arg ref="addMaterialsRepository"/>
    </bean>

    <bean id="courseRepository" class="repositories.CourseRepository">
    </bean>

    <bean id="courseService" class="services.CourseService">
        <constructor-arg ref="courseRepository"/>
    </bean>


    <bean id="lectureRepository" class="repositories.LectureRepository">
    </bean>

    <bean id="lectureService" class="services.LectureService">
        <constructor-arg ref="lectureRepository"/>
        <property name="addMaterialsService" ref="addMaterialsService"/>
    </bean>











    <bean id="menuUtils" class="utils.MenuUtils" >
        <property name="addMaterialsService" ref="addMaterialsService"/>
        <property name="courseService" ref="courseService"/>
        <property name="lectureService" ref="lectureService"/>
        <property name="regexUtil" ref="regexUtils"/>
    </bean>

    <bean id="regexUtils" class="utils.RegexUtil" >
        <property name="menuUtils" ref="menuUtils"/>
    </bean>

    <bean id="storageBlackList" class="server_client.StorageBlackList">
        <property name="regexUtil" ref="regexUtils"/>
    </bean>


    <bean id="modelPerson" class="models.Person">
        <property name="regexUtil" ref="regexUtils"/>
    </bean>

    <bean id="modelLecture" class="models.Lecture">
        <property name="addMaterialsService" ref="addMaterialsService"/>
    </bean>

    <bean id="modelAddMaterials" class="models.AddMaterials">
        <property name="lectureService" ref="lectureService"/>
    </bean>


    <bean id="lectureListMaterialsController" class="controllers.lecture.LectureListMaterialsController">
        <constructor-arg ref="lectureService"/>
    </bean>

    <bean id="lectureListHomeworkController" class="controllers.lecture.LectureListHomeworkController">
        <constructor-arg ref="lectureService"/>
    </bean>

    <bean id="courseDetailController" class="controllers.course.CourseDetailController">
        <constructor-arg ref="courseService"/>
    </bean>

    <bean id="courseNewController" class="controllers.course.CourseNewController">
        <constructor-arg ref="courseService"/>
    </bean>

    <bean id="courseListController" class="controllers.course.CourseListController">
        <constructor-arg ref="courseService"/>
    </bean>



</beans>
