<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="addMaterialsRepository" class="repositories.AddMaterialsRepository">
        <property name="lectureRepository" ref="lectureRepository"/>
        <property name="addMaterialsService" ref="addMaterialsService"/>
    </bean>

    <bean id="addMaterialsService" class="services.AddMaterialsService">
        <constructor-arg ref="addMaterialsRepository"/>
    </bean>

    <bean id="courseRepository" class="repositories.CourseRepository">
    </bean>

    <bean id="courseService" class="services.CourseService">
        <constructor-arg ref="courseRepository"/>
    </bean>


    <bean id="lectureRepository" class="repositories.LectureRepository">
        <property name="courseService" ref="courseService"/>
        <property name="personService" ref="personService"/>
    </bean>

    <bean id="lectureService" class="services.LectureService">
        <constructor-arg ref="lectureRepository"/>
        <property name="addMaterialsService" ref="addMaterialsService"/>
        <property name="homeWorkRepository" ref="homeworkRepository"/>
    </bean>

    <bean id="personRepository" class="repositories.PersonRepository">
        <property name="courseService" ref="courseService"/>
    </bean>

    <bean id="personService" class="services.PersonService">
        <constructor-arg ref="personRepository"/>

    </bean>

    <bean id="homeworkRepository" class="repositories.HomeWorkRepository">
        <property name="lectureRepository" ref="lectureRepository"/>
    </bean>

    <bean id="homeworkService" class="services.HomeworkService">
        <constructor-arg ref="homeworkRepository"/>

    </bean>


    <bean id="menuUtils" class="utils.MenuUtils">
        <property name="addMaterialsService" ref="addMaterialsService"/>
        <property name="courseService" ref="courseService"/>
        <property name="lectureService" ref="lectureService"/>
        <property name="personService" ref="personService"/>
        <property name="homeworkService" ref="homeworkService"/>
        <property name="homeWorkRepository" ref="homeworkRepository"/>
        <property name="regexUtil" ref="regexUtils"/>
    </bean>

    <bean id="regexUtils" class="utils.RegexUtil">
        <property name="menuUtils" ref="menuUtils"/>
        <property name="personService" ref="personService"/>
    </bean>

    <bean id="storageBlackList" class="server_client.StorageBlackList">
        <property name="regexUtil" ref="regexUtils"/>
    </bean>


    <bean id="modelPerson" class="models.Person">
        <property name="regexUtil" ref="regexUtils"/>
    </bean>

    <bean id="modelLecture" class="models.Lecture">
<property name="homeworkService" ref="homeworkService"/>
    </bean>

    <bean id="modelAddMaterials" class="models.AddMaterials">
        <property name="lectureService" ref="lectureService"/>
    </bean>


    <bean id="courseListController" class="controllers.course.CourseListController">

    <constructor-arg ref="courseService"/>
    </bean>


</beans>
